boto==2.42.0
dj-database-url==0.4.1
Django==1.9.10
django-cors-headers==1.2.2
django-pipeline==1.6.9
ecdsa==0.13
futures==3.0.5
GDAL==1.11.2
gunicorn==19.6.0
paramiko==1.17.2
psycopg2==2.6.2
pycrypto==2.6.1
requests==2.11.1
Shapely==1.5.17
SQLAlchemy==1.1.0
unicodecsv==0.14.1
wazimap==0.5.1
whitenoise==3.2.2
