boto==2.42.0
dj-database-url==0.4.1
Django==1.9.10
django-cors-headers==1.2.2
django-pipeline==1.6.9
ecdsa==0.13
funcsigs==0.4
futures==3.0.5
GDAL==1.11.2
gevent==1.1.2
greenlet==0.4.10
gunicorn==19.6.0
matplotlib==1.4.3
mock==1.3.0
nose==1.3.7
numpy==1.10.1
paramiko==1.17.2
pbr==1.8.1
psycopg2==2.6.2
pycrypto==2.6.1
pyparsing==2.0.3
python-dateutil==2.4.2
python-memcached==1.57
pytz==2015.6
redis==2.10.3
requests==2.11.1
Shapely==1.5.17
six==1.10.0
SQLAlchemy==1.1.0
unicodecsv==0.14.1
virtualenv==15.0.3
whitenoise==3.2.2
wazimap==0.5.2